<div class="container text-center services-heading">
  <p class="white-text">Our Services</p>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <%= image_tag 'house.svg', :class => "services-img" %>
      <p class="services-text text-center">Highly experienced and qualified to deal with listed buildings, riparian and river wall repairs.</p>
      <a class="services-link", href="#identifier">Learn more</a>
    </div>
    <div class="col-xs-12 col-sm-6">
      <%= image_tag 'submarine.svg', :class => "services-img" %>
      <p class="services-text text-center">Marine survey vessel and assessment of river walls, flood defences and marine / riparian areas.</p>
      <a class="services-link", href="#identifier2">Learn more</a>
    </div>
    <div class="col-xs-12 col-sm-6">
      <%= image_tag '3d.svg', :class => "services-img" %>
      <p class="services-text text-center">The only firm in the UK who are currently undertaking 3D Photogrammetry Surveys.</p>
      <a class="services-link", href="#identifier3">Learn more</a>
    </div>
    <div class="col-xs-12 col-sm-6">
      <%= image_tag 'leaf.svg', :class => "services-img" %>
      <p class="services-text text-center">Market leading expertise in understanding of Invasive Non-Native Species of plants.</p>
      <a class="services-link", href="#identifier4">Learn more</a>
    </div>
  </div>
</div>

<div class="container services-background text-center">
  <div id="identifier">
    <%= image_tag 'house-dark.svg', :class => "services-img"%>
    <p class="wider-text">Highly experienced and qualified to deal with listed buildings, riparian and river wall repairs, Rocksolid is able to provide the full service from initial advice, detailed condition surveys, and fixed price contracting on delicate, complicated and sensitive areas of building construction.</p>
  </div>
  <div id="identifier2">
      <%= image_tag 'submarine-dark.svg', :class => "services-img" %>
      <p class="wider-text">Rocksolid are perhaps one of the only restoration firms capable of operating a marine survey vessel and the technology needed to assess river walls, flood defences and marine / riparian areas. With over 30 years operational experience and holding the full Commercially Endorsed licence you can be rest assured that you project is safe in our hands.</p>
  </div>
  <div id="identifier3">
      <%= image_tag '3d-dark.svg', :class => "services-img" %>
      <p class="wider-text">Bringing cutting edge technology to the restoration industry, Rocksolid are the only firm in the UK who are currently undertaking 3D Photogrammetry Surveys and have the ability to provide a complete envelope defect and condition survey and then price out the works into a full and detailed scope.</p>
  </div>
  <div id="identifier4">
      <%= image_tag 'leaf-dark.svg', :class => "services-img" %>
      <p class="wider-text">Rocksolid also have a market leading expertise in understanding of Invasive Non-Native Species of plants that are now prevalent in the UK built environment. The destructive impact of Buddleia Davidii, Japanese Knotweed and Bamboo requires comprehensive treatment alongside the building repairs to ensure long term fix is delivered. Rocksolid are specialists in this field.</p>
  </div>
</div>


