<div class="container text-center services-heading">
  <p class="white-text" style="margin-bottom: 40px;">Our Services</p>
  <div class="row no-padding">
    <div class="col-xs-12 col-sm-6">
      <%= image_tag 'house.svg', :class => "services-img" %>
      <p class="services-text text-center">We offer a highly professional service from small sites to large residential developments.</p>
      <a class="services-link", href="#identifier">Residential Services</a>
    </div>
    <div class="col-xs-12 col-sm-6">
      <%= image_tag 'submarine.svg', :class => "services-img" %>
      <p class="services-text text-center">Specialists in marine, port and underwater works, and underwater maintenance services.</p>
      <a class="services-link", href="#identifier2">Underwater Maintenance</a>
    </div>
    <div class="col-xs-12 col-sm-6">
      <%= image_tag '3d.svg', :class => "services-img" %>
      <p class="services-text text-center">We provide affordable imaging radar using sub-reflector designs to perform scanning.</p>
      <a class="services-link", href="#identifier3">Our Technologies</a>
    </div>
    <div class="col-xs-12 col-sm-6">
      <%= image_tag 'leaf.svg', :class => "services-img" %>
      <p class="services-text text-center">Our homes are designed to meet high standards of sustainability and reduce environmental impact.</p>
      <a class="services-link", href="#identifier4">Our Sustainability Policy</a>
    </div>
  </div>
</div>

<div class="container services-background text-center">
  <div id="identifier" class="lighter-background" data-aos="fade-left" data-aos-duration="1500">
    <%= image_tag 'house-dark.svg', :class => "services-img"%>
    <p class="wider-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
  </div>
  <div id="identifier2" class="lighter-background" data-aos="fade-right" data-aos-duration="1500">
      <%= image_tag 'submarine-dark.svg', :class => "services-img" %>
      <p class="wider-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
  </div>
  <div id="identifier3" class="lighter-background" data-aos="fade-left" data-aos-duration="1500">
      <%= image_tag '3d-dark.svg', :class => "services-img" %>
      <p class="wider-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
  </div>
  <div id="identifier4" class="lighter-background" data-aos="fade-right" data-aos-duration="1500">
      <%= image_tag 'leaf-dark.svg', :class => "services-img" %>
      <p class="wider-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
  </div>
</div>



